
<footer class="border-top ">
    <div class="f-info">
        <div class="company">&copy; <span>2024, WanderLust Private Limited</span>
            <div class="logo-img" style="display: inline-block;">
            <a href=""><i class='bx bxl-facebook-square'></i></a>
            <a href=""><i class='bx bxl-twitter' ></i></a>
            <a href=""><i class='bx bxl-instagram' ></i></a>
            </div>
            
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>